#p1
{

    width:100%;
    height:100px;
//background:linear-gradient( black,black,darkred);
    text-align:center;
    font-size: 55px;
    margin-top: 0px;
    font-family:"Roman " ;
    color:black;
    margin:0px;
    font-weight: 700;
    text-shadow: 3px 1px 0px gold;
      padding-left:12px;
}
#p2
{   border: 3px inset grey;
    position:absolute;
    margin:0px;
     padding-left:20px;
    padding-top:20px;
    color:white;
    width:49.6%;
    height:260px;
     background:linear-gradient( grey,black,grey );
    font-size: 21px;
    font-family:  "Roman";
   right:640px;
    opacity:0.9;
     transform:translate(-07px,-22px);
    overflow:scroll;

}

 #p3
{   
    position: absolute;
    width:300px;
    height:280px;
    background-color: antiquewhite;
    background:linear-gradient(white ,grey,black ); 
    margin:0px;
    transform:translate(800px,160px);
   // box-shadow: 2px 1px 10px 0px grey;
    opacity: 0.8;
} 
#p4
{
    position: absolute;
    width:300px;
    height:280px;
    background:linear-gradient(white ,grey,black); 
    margin:0px;
    transform:translate(1000px,-10px);
   // box-shadow: 2px 1px 10px 0px grey;
    opacity: 0.8;
    color: black;
}
 
 
body { 
    background-image: url( "Accenture-Marquee-v2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
   
}
#implinks
{   position:absolute;
   // border:3px outset grey;
    transform:translate(7.5px,270px);
    background:linear-gradient(grey,white);
    opacity: 0.8;
}
a.links{
    text-decoration: none;
    color:black;
}
#cimplinks
{
   padding-right: 14px;
    padding-left: 11px;
    margin:5px;
    //border: 1px solid brown;
}
#cover
{  top:0px;
    left:0px;
     transform:translate(2px,0px);
   position: absolute;
    padding:0px;
    width:100%;
    height:100%;
    margin:0px;
    
}
#pass
{   
    font-family:cursive;
    color:black;
    font-size:30px;
      position: absolute;
    transform:translate(500px,30px);
    z-index:1;
    text-shadow: 0px 4px 2px brown;
     
}
#coverbutton
{   
     position: absolute;
    font-family:cursive;
    color:white;
    font-size:15px;
    background-color: darkgreen;
     transform:translate(700px,87px);
     z-index:2;
}
#coverup
{  
    
display:block;
    opacity: 0.95;
     
}

#cimplinks:hover
{
    background:linear-gradient(black,gray);
}
a:hover{
    color:white;
}
#slider
{   
    
    position:absolute;
    width:100%;
    height:0px;
    top:0px;
    left:0px;
    opacity:0.95;
    background:linear-gradient(black,gray);
    transition:2s;
    overflow: hidden;
    
}
#topsliderbutton
{   
    font-weight: 700;
    font-size: 15px;
    position: absolute;
    color:white;
   background:linear-gradient(darkred,gray);
  //  transform:translate(700px,-117px);
    top:8px;
    right:4px;
    opacity:0.8;
}
#topsliderbutton:hover
{       
        
        cursor: context-menu;
        border: 4px inset grey;
        color:snow;
        background:linear-gradient(grey,black);
}
#ctopslider
{
    color:aliceblue;
    margin: 20px;
    top:10px;
    font-weight:500;
    text-decoration: none;
    font-family:serif;
    color: aqua;
}